body {
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size: 20 px;
    font-family: 'Baloo 2', cursive;
    padding-top: 5%;
    word-wrap: break-word;
}

.logo {
    width: 250 px;
    height: 250 px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.walletInfo {
    width: 500 px ;
}

.Block {
    width : 1000px;
    border: 1px solid #fff;
    padding: 5%;
    margin: 2%;
}

.Transaction {
    padding: 5%;
}